<!DOCTYPE html>
<html>
<head>
  <title>Help Create a Budget!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "rubyBudget">
	<%= yield %>
</div>

</body>
</html>
